@{
    ViewData["Title"] = "Home";
}


<div class="jumbotron jumbotron-fluid m-3">
    <div class="container">
        <h1 class="display-4">Fag el-Gamous</h1>
        <p class="lead">Explore the fascinating burial information and data from Fag el-Gamous, a large and important cemetery in Egypt that has been under archeological investigation for over 25 years.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">View Burial Information</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Goal #1</h2>
            <p>Further organize the data and develop a website where aspects of this information can be shared with researchers and interested members of the public around the world.</p>
        </div>
        <div class="col-md-4">
            <h2>Goal #2</h2>
            <p>Allow the research team to view, filter, and query this data in many ways so they can answer a variety of academic research questions.</p>
        </div>
        <div class="col-md-4">
            <h2>Goal #3</h2>
            <p>Use the data and advanced analytical/machine-learning skills to predict, explain, and visualize the wealth of data, allowing further insights.</p>
        </div>
    </div>
</div>
